<!-- <section class="section pb-0 bg-gradient-warning">
    <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="container py-md">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6" style="padding-top: 80px;">
                <div class="card bg-default shadow border-0">
                    <img src="./assets/img/theme/img-1-1200x1000.jpg" class="card-img-top">
                    <blockquote class="card-blockquote">
                        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                            class="svg-bg">
                            <polygon points="0,52 583,95 0,95" class="fill-default" />
                            <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
                        </svg>
                        <h4 class="display-3 font-weight-bold text-white">Dreamwings Solutions</h4>
                        <p class="lead text-italic text-white">We are working on a cost-effective solution for small and
                            medium-sized businesses.
                            With our precious customers, we plan to restructure their IT infrastructure and build
                            their presence in the digital world. We understand their IT development, automation,
                            and IT infrastructure problems and work with them to create an ecosystem for their business
                            needs. </p>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pl-md-5">
                    <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
                        <i class="ni ni-settings"></i>
                    </div>
                    <h3>Why Dreamwings Solutions? </h3>
                    <p class="">In Dreamwings Solution, we must keep your attention free of IT pro lems.
                        Employees can focus on growing their skills
                        while we work on projects, developing new services, or automating existing services. </p>
                   
                </div>
                <div class="pl-md-5">
                   <h3>What makes us different?</h3>
                    <p class="">We are working on technological landscaping, web/mobile development, and
                        also on SQL server. Our team is committed to providing our clients with
                        the most appropriate solution for their needs. </p>
                   
                </div>
                <div class="pl-md-5">
                    <h3>What makes us who we are?</h3>
                    <p class="">We at Dreamwings solutions have spent the last decade in technology and
                        have solved a lot of customer problems. In the future, we will distribute our
                        work to all over india. Our goal as techies is to help our customers bring their ideas and
                        products into the digital age. </p>
                    
                </div>
                <div class="pl-md-5">
                 <h3>What is the importance of customers problems to us? </h3>
                    <p class="">Our team works closely with customers to fix and streamline problems,
                        and we recognize that creativity arises from problems, so every challenge makes us think of
                        creative ideas.. </p>
                    
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="section section-shaped">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container py-md" >
      <div class="row justify-content-between align-items-center" style="padding-top: 50px;">
        <div class="col-lg-5 mb-5 mb-lg-0">
          <h1 class="text-white font-weight-light">Know More About Us!</h1>
          <p class="lead text-white mt-4">Dreamwings solutions Pvt Ltd. , also popularly known as Dreamwings Solutions Pvt Ltd and pvt Ltd.we have been delivering excellence through our IT products and services.We believe innovation and collective knowledge can transform all our futures with greater purpose.We take immense pride in the fact that we have been catering to the IT requirements of different sectors spread across the country. Operating for more than a decade, we have gained vast experience, which we leverage to offer premium services to our customer base.</p>
          
        </div>
        <div class="col-lg-6 mb-lg-auto">
          <div class="rounded shadow-lg overflow-hidden transform-perspective-right bootstrap-slider">
            <ngb-carousel>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="assets/img/theme/know1.jpg" alt="First slide">
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="assets/img/theme/know2.jpg" alt="Second slide">
                </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
<section class="section " style="padding-top: 0px;">
    <!--Hey! This is the original version
of Simple CSS Waves-->

<div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">
    <!--Just the logo.. Don't mind this-->
    <svg version="1.1" class="logo" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" xml:space="preserve">
    <path fill="#FFFFFF" stroke="#000000" stroke-width="10" stroke-miterlimit="10" d="M57,283" />
    
    </svg>
    <!-- <h1>Simple CSS Waves</h1> -->
    <div class="container py-md" style="padding-right: 50px;">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6" style="padding-top: 80px;">
                <div class="card bg-default shadow border-0">
                    <img src="./assets/img/theme/AboutPage.jpg" class="card-img-top">
                    <blockquote class="card-blockquote">
                        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                            class="svg-bg">
                            <polygon points="0,52 583,95 0,95" class="fill-default" />
                            <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
                        </svg>
                        <h4 class="display-3 font-weight-bold text-white">Dreamwings Solutions</h4>
                        <p class="lead text-italic text-white">We are working on a cost-effective solution for small and
                            medium-sized businesses.
                            With our precious customers, we plan to restructure their IT infrastructure and build
                            their presence in the digital world. We understand their IT development, automation,
                            and IT infrastructure problems and work with them to create an ecosystem for their business
                            needs. </p>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-6" style="padding-top: 30px;">
                <div class="pl-md-5">
                    
                    <h3 class="text-white"><b>Why Dreamwings Solutions?</b> </h3>
                    <p class="text-white">In Dreamwings Solution, we must keep your attention free of IT pro lems.
                        Employees can focus on growing their skills
                        while we work on projects, developing new services, or automating existing services. </p>
                    
                </div>
                <div class="pl-md-5">
                   <h3 class="text-white"><b>What makes us different?</b></h3>
                    <p class="">We are working on technological landscaping, web/mobile development, and
                        also on SQL server. Our team is committed to providing our clients with
                        the most appropriate solution for their needs. </p>
                    
                </div>
                <div class="pl-md-5">
                    <h3 class="text-white"><b>What makes us who we are?</b></h3>
                    <p class="">We at Dreamwings solutions have spent the last decade in technology and
                        have solved a lot of customer problems. In the future, we will distribute our
                        work to all over india. Our goal as techies is to help our customers bring their ideas and
                        products into the digital age. </p>
                    
                </div>
                <div class="pl-md-5">
                 <h3 class="text-white"><b>What is the importance of customers problems to us?</b> </h3>
                    <p class="">Our team works closely with customers to fix and streamline problems,
                        and we recognize that creativity arises from problems, so every challenge makes us think of
                        creative ideas.. </p>
                    
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <!--Waves Container-->
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->
    
    </div>
    <!--Header ends-->
    
    <!--Content starts-->
    <!-- <div class="content flex">
      <p>By.Goodkatz | Free to use </p>
    </div> -->
    <!--Content ends-->
</section>
