<main>
    <section class="section section-lg section-hero section-shaped gallery-sec sec-pad ">
         <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container">
        <div class="row">
          
          <div class="col-sm-12" style="padding-top: 80px;">
            <h1 style="color: white; text-align: center;"><b>Popular Products</b></h1>
            <div class="divider">&nbsp;</div>
            <ul class="nav justify-content-center" role="tablist" id="customersCats" >
              <li class="nav-item">
                <a class="nav-link1 active show" href="#featuredSection" id="featured" data-toggle="tab" role="tab" aria-controls="featuredSection" aria-selected="true"><b>All</b></a>
              </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li class="nav-item">
                <a class="nav-link1" href="#educationSection" id="education" data-toggle="tab" role="tab" aria-controls="educationSection" aria-selected="false"><b>MS Card</b></a>
              </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!-- <li class="nav-item">
                <a class="nav-link1" href="#healthSection" id="healthcare" data-toggle="tab" role="tab" aria-controls="healthSection" aria-selected="false"><b>Dreamwings</b></a>
              </li> -->
              
            </ul>
          </div>
        </div><!-- row-->
        <div class="row">
          <div class="col-sm-12">
            <div class="tab-content" id="catsContent">
              <div class="tab-pane fade show active" id="featuredSection" role="tabpanel" aria-labelledby="featured">
                <div class="row">
                  <div class="col-sm-6 col-md-4"  style="padding-bottom: 50px;">
                    <a href="https://mscardshopee.com/">
                      <img src="./assets/img/theme/MS CARD.png" alt="Portfolio Item" class="img-fluid"/>
                    </a>
                  </div>
                  <!-- <div class="col-sm-6 col-md-4" style="padding-bottom: 50px;">
                    <a href="https://dreamwingssolutions.com/#/home">
                      <img src="./assets/img/theme/DreamwingsSolution.png" alt="Portfolio Item" class="img-fluid" />
                    </a>
                  </div> -->
                  <div class="col-sm-6 col-md-4" style="padding-bottom: 50px;">
                    <a href="https://mscardshopee.com/ms-admin/">
                      <img src="/assets/img/theme/MSCARD admin.png" alt="Portfolio Item" class="img-fluid"/>
                    </a>
                  </div>
                </div><!-- row-->
              </div>
              <div class="tab-pane fade" id="educationSection" role="tabpanel" aria-labelledby="education">
                <div class="row">
                  <div class="col-sm-6 col-md-4" onclick="location.href='#'">
                    <a href="https://mscardshopee.com/">
                      <img src="./assets/img/theme/MS CARD.png" alt="Portfolio Item" class="img-fluid"/>
                    </a>
                  </div>
                  <div class="col-sm-6 col-md-4" onclick="location.href='#'">
                    <a href="https://mscardshopee.com/ms-admin/">
                      <img src="/assets/img/theme/MSCARD admin.png" alt="Portfolio Item" class="img-fluid" />
                    </a>
                  </div>
                </div><!-- row-->
              </div>
              <!-- <div class="tab-pane fade" id="healthSection" role="tabpanel" aria-labelledby="healthcare">
                <div class="row">
                  <div class="col-sm-6 col-md-4" onclick="location.href='#'">
                    <a href="https://dreamwingssolutions.com/#/home">
                      <img src="./assets/img/theme/DreamwingsSolution.png" alt="Portfolio Item" class="img-fluid"/>
                    </a>
                  </div>
                 
                </div>
              </div> -->
             
              
        
              </div>
          </div>
        </div><!--row-->
      </div><!-- container-->
    </section>
    <div class="container " style="padding: 10px;">
      <div class="card" >
           <video src="./assets/img/brand/MS.mp4" class="card-img-top" controls style="padding: 10px;"></video>
         </div>
     
   </div>
    <!-- <section>
      <!--Hey! This is the original version
of Simple CSS Waves--

<div class="header">

  <!--Content before waves--
  <div class="inner-header flex">
  <!--Just the logo.. Don't mind this--
  <svg version="1.1" class="logo" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" xml:space="preserve">
  <path fill="#FFFFFF" stroke="#000000" stroke-width="10" stroke-miterlimit="10" d="M57,283" />
  
  </svg>
  <!-- <h1>Simple CSS Waves</h1> --
  
  </div>
  
  <!--Waves Container--
  <div>
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
  <g class="parallax">
  <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
  <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
  </g>
  </svg>
  </div>
  <--Waves end--
  
  </div>
  <--Header ends-->
  
  <!--Content starts-->
  <!-- <div class="content flex">
    <p>By.Goodkatz | Free to use </p>
  </div> -->
  <!--Content ends--
    </section> -->
     <!--<section id="slider">
      <input type="radio" name="slider" id="s1" checked>
      <input type="radio" name="slider" id="s2">
      <-- <input type="radio" name="slider" id="s3">
      <input type="radio" name="slider" id="s4"> --
      <input type="radio" name="slider" id="s5">
    
      <label for="s1" id="slide1"><iframe width="560" height="460" src="./assets/img/brand/MS.mp4" frameborder="0" allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen sandbox></iframe></label>
     <label for="s2" id="slide2"><iframe width="560" height="460" src="./assets/img/brand/MS-CARD APP.mp4" frameborder="0" allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen sandbox></iframe></label>
     <label for="s5" id="slide5"><iframe width="560" height="460" src="./assets/img/brand/MS1.mp4" frameborder="0" allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen sandbox></iframe></label>
       <label for="s3" id="slide3"><iframe width="560" height="460" src="./assets/img/brand/MS.mp4" frameborder="0" allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen controls></iframe></label> --
       <label for="s4" id="slide4"><iframe width="560" height="460" src="./assets/img/brand/MS-CARD APP.mp4" frameborder="0" allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen controls></iframe></label>
      <label for="s5" id="slide5"><iframe width="560" height="460" src="./assets/img/brand/MS1.mp4" frameborder="0" allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen controls></iframe></label> 
    </section>-->
    </main>
