<section class="large-cta-section skrollable skrollable-between" style="min-height: 86vh;">
    <div class="medium-large-wrapper skrollable skrollable-after" >
      <div class="medium-text-wrapper" style="padding-top: 75px;">
        <h2 class="h2 large white">Career with <span class="yellow">us</span>.</h2>
        <h3 class="h3 white">Most Welcome In Dreamwings Solutions Work Culture</h3>
        <a class="cta-link footer-cta-link" href="https://app.neverbounce.com/register" alt="Try NeverBounce for free" [routerLink]="['/contact']">Contact us</a>
      </div>
    </div>
    <img class="cta-purple-email skrollable skrollable-after" src="https://neverbounce.com/images/background-images/cta-purple-email.png" alt="email illustration">
    <img src="https://neverbounce.com/images/background-images/cta-left-line.svg" class="cta-left-line" alt="graphic line element">
    <!-- <img src="https://neverbounce.com/images/background-images/teal-airplane.png" class="cta-teal-airplane" alt="paper airplane"> -->
    <img class="cta-blue-email skrollable skrollable-between" src="https://neverbounce.com/images/background-images/cta-blue-email.png" alt="email illustration">
  </section>
  
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/theme/career.jpg" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="ni ni-spaceship"></i>
            </div>
            <h3>FIND YOUR FUTURE</h3>
            <p>We confide in offering quality to the customer through our organizations. Our organization is not just suggested for using rather we acknowledge inside, giving the customer something that the customer would love for a long time.

                Exciting challenges lie ahead—new regions, technologies, and businesses. Guided by our four core values, we’ll meet these challenges creatively and with the support of our expert team. Join us!.</p>
            <!-- <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Carefully crafted components</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-html5"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Amazing page examples</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Super friendly support team</h6>
                  </div>
                </div>
              </li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  