<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container shape-container d-flex align-items-center py-lg">
      <div class="col px-0">
        <div class="row align-items-center justify-content-center" style="padding-bottom: 210px;">
          <div class="col-lg-6 text-center">
            <h1 style="color: white;"><b>Our Work</b></h1>
            <div class="divider">&nbsp;</div>
            <p class="lead text-white">Empowering Your Business With Our Custom Software Solutions.</p>
            <div class="btn-wrapper mt-5">
             
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="./assets/img/brand/product.jpeg" class="rectangle" style="height: 100px; width: 200px;" >
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <a href="https://mscardshopee.com/" class="btn btn-sm btn-info mr-4" title="See on Website">Website</a>
                <a href="https://www.instagram.com/mscards_/" class="btn btn-sm btn-default float-right" title="Follow Us On Instagram">Instagram</a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1"></div>
          </div>
          <div class="text-center mt-5" >
            <h3>
            <b style="color: red;">MS <b style="color:green;">Card</b>
              
            </b>
            </h3>
            <div class="text-center mt-3 h3 font-weight-300 " ><b class="ni location_pin mr-2" style="color: black;">Money Saving Card</b></div>
          </div>



          <div class="text-center mt-2">
           <!-- <div class="col-lg-4 order-lg-1"> -->
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading" style="color: red;">40</span>
                  <span class="description" style="color: #ff7513;"><b>Shops</b></span>
                </div>
                <div>
                  <span class="heading" style="color: red;">21k</span>
                  <span class="description" style="color: #ff7513;"><b>Customers</b></span>
                </div>
                <div>
                  <span class="heading" style="color: red;">1.1Cr</span>
                  <span class="description" style="color: #ff7513;"><b>Total Points</b></span>
                </div>
              </div>
            <!-- </div> -->
          </div>
          <div class="text-center mt-2" >
            
            <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Every customer’s motive is to get maximum benefits from services that they take or goods </div>
            <div><i class="ni education_hat mr-2"></i>they buy from the shop and we at Money Saving Card Shopee, Jaysingpur.</div>
          </div>
          <div class="mt-2 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>Family Loyalty Card is a program through which customers of all the Member(Shop Owner) of MS Card Shopee Jaysingpur will get the advantage to avail points on services or Goods they purchase that can be used for future services.</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    
  