<!-- <section class="we-offer-area text-center " style="padding-top: 200px; background-color:#4465bb ;">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="site-heading text-center">
                  <h2> <span>What we have</span></h2>
                  <h4>Customers can save money and businesses can grow with loyalty program apps.</h4>
              </div>
          </div>
      </div>
          <div class="row justify-content-evenly p-xl-3 shap ">
              <!-- Single Item --
              <div class="col-xl-6 col-md-6" data-aos="zoom-in" data-aos-delay="200" s>
                  <div class="item" style="height: 300px; width: 400px; border-radius: 15px 50px 30px">
                    <!-- <i class="fa fa-desktop" aria-hidden="true"></i> --
                      <h4><b>Web Design/Development</b> </h4>
                      <p>
                        <b>
                        A website is the reflection of your business and conveys your brand image in front of 
                        your target audience. Our team has a wealth of experience in website development, 
                        including working with some of the organizations.we can help you to create a mobile friendly 
                        website that is user friendly. 
                        
                        </b>
                        
                      </p>
                  </div>
              </div>
              <!-- End Single Item -->

              <!-- Single Item --
              <div class="col-xl-6 col-md-6" data-aos="zoom-in" data-aos-delay="200" >
                  <div class="item"  style="height: 300px; width: 400px; border-radius: 15px 50px 30px">
                    
                      <h4><b>Android Development</b></h4>
                      <p>
                        <b>
                        With a team of highly experienced Android app developers, 
                        we are ready to address all your needs. we are committed to 
                        delivering a flawless solution to every client. The space of
                         mobile apps is expanding more rapidly than ever. No matter what 
                         kind of business you run or which industry you operate in, mobile 
                         apps are dominant. 
                        </b>
                      </p>
                  </div>
              </div>



              <div class="col-xl-6 col-md-6" data-aos="zoom-in" data-aos-delay="200" >
                <div class="item"  style="height: 300px; width: 400px; border-radius: 15px 50px 30px">
                    <!-- <i class="fas fa-dharmachakra"></i> --
                    <h4><b>Hosting</b></h4>
                    <p>
                        <b>
                             Web hosting services allows users to store content offsite,
                             reducing local storage costs and the associated physical footprint.
                             It also makes it easier to build a genuinely durable web presence,
                             with built-in advantages like back-ups for security and support.
                        </b>
                      
                    </p>
                </div>
            </div>

            <div class="col-xl-6 col-md-6" data-aos="zoom-in" data-aos-delay="200" >
              <div class="item"  style="height: 300px; width: 400px; border-radius: 15px 50px 30px">
                  <!-- <i class="fas fa-dharmachakra"></i> --
                  <h4><b>Digital Marketing</b></h4>
                  <p>
                    <b>
                    Digital Marketing Services designed to take your Business to next level. 
                    Launch Add Campaigns, Generate Leads, Grow Your Business Online in Minutes.
                    </b>  
                </p>
              </div>
          </div>
          
          </div>
  </div>
</section> -->
<main>
<section class="section section-lg section-hero section-shaped gallery-sec sec-pad " style="padding-top: 140px;">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-default alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
  <h1 style="color: white;"><b>Our Services</b></h1>
  <div class="divider">&nbsp;</div>
  <p class="" style="color: white; font-size: large;"><b>Customers can save money and businesses can grow with loyalty program apps.</b></p>
  <div class="services-grid" >
    <div class="service service1 ">
      <i class="ni ni-tv-2"></i>
      <h4>Web Design/Development</h4>
      <p>A website is the reflection of your business and conveys your brand image in front of 
        your target audience. Our team has a wealth of experience in website development, 
        including working with some of the organizations.we can help you to create a mobile friendly 
        website that is user friendly. </p>
      <!-- <a href="#" class="cta">Read More <span class="ti-angle-right"></a> -->
    </div>

    <div class="service service3">
      <i class="ni ni-mobile-button"></i>
      <h4>Android Development</h4>
      <p>With a team of highly experienced Android app developers, 
        we are ready to address all your needs. we are committed to 
        delivering a flawless solution to every client. The space of
         mobile apps is expanding more rapidly than ever. No matter what 
         kind of business you run or which industry you operate in, mobile 
         apps are dominant. </p>
      <!-- <a href="#" class="cta">Read More <span class="ti-angle-right"></a> -->
    </div>

  
  </div>
  <div class="services-grid" >
    <div class="service service3">
      <i class="ni ni-spaceship"></i>
      <h4>Hosting</h4>
      <p>Web hosting services allows users to store content offsite,
        reducing local storage costs and the associated physical footprint.
        It also makes it easier to build a genuinely durable web presence,
        with built-in advantages like back-ups for security and support.</p>
      <!-- <a href="#" class="cta">Read more <span class="ti-angle-right"></span></a> -->
    </div>
    <div class="service service1">
      <i class="ni ni-world"></i>
      <h4>Digital Marketing</h4>
      <p>Digital Marketing Services designed to take your Business to next level. 
        Launch Add Campaigns, Generate Leads, Grow Your Business Online in Minutes.</p>
      <!-- <a href="#" class="cta">Read more <span class="ti-angle-right"></span></a> -->
    </div>
    </div>
    <div class="services-grid" >
      <div class="service service1">
        <i class="ni ni-money-coins"></i>
        <h4>Bussiness Management</h4>
        <p>Whether you run a small business or own a large-scale global brand, 
          having an app (mobile and web version) has become almost mandatory.
            It is important that you get applications developed for your business.  
            Web and mobile applications are like an investment for your business that will bring significant returns 
            in the long term.</p>
        <!-- <a href="#" class="cta">Read more <span class="ti-angle-right"></span></a> -->
      </div>
      <div class="service service3">
        <i class="ni ni-settings-gear-65"></i>
        <h4>Search Engine Optimization(SEO)</h4>
        <p>We offer SEO service to rank a website high in google and get more organic reach to their specified keywords.
           We do SEO work continuously to keep website on top for a long time. 
          We provide SEM(Search Engine Marketing), SMO(Social Media Optimization), Content Writing.</p>
        <!-- <a href="#" class="cta">Read more <span class="ti-angle-right"></span></a> -->
      </div>
      </div>
  </div>
  </div>
  </div>
</section>
</main>
