<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped ">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-default ">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      
     
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <!-- <img src="./assets/img/brand/logo.png" style="width: 200px;" class="img-fluid"> -->
              <img src="./assets/img/brand/logo.png" style="height: 95px; width: 95px;">
              <h1 style="color: white;"><b>Welcome To Dreamwings Solutions</b></h1>
              <p class="lead text-white">Empowering Your Business With Our Custom Software Solutions.</p>
              <div class="btn-wrapper mt-5">
               
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section section-lg section-hero section-shaped">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                      <i class="ni ni-laptop"></i>
                    </div>
                    <h6 class="text-primary text-uppercase">Web Design/Development</h6>
                    <p class="description mt-3">A website is the reflection of your business and conveys your brand image in front of your target audience.Our team has a wealth of experience in website development.If you're looking for a team that can help you take your website to the next level, contact us today.</p>
                    <div>
                      <span class="badge badge-pill badge-primary">angular</span>
                      <span class="badge badge-pill badge-primary">ASP.Net</span>
                      <span class="badge badge-pill badge-primary">bootstrap</span>
                    </div>
                    <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Learn more</a> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                      <i class="ni ni-mobile-button"></i>
                    </div>
                    <h6 class="text-success text-uppercase">Android Development</h6>
                    <p class="description mt-3"> With a team of highly experienced Android app developers, we are ready to address all your needs.we are committed to delivering a flawless solution to every client.   
                      Boost your business productivity and revenue with the help of our android app developers.</p>
                    <div>
                      <span class="badge badge-pill badge-success">business</span>
                      <span class="badge badge-pill badge-success">vision</span>
                      <span class="badge badge-pill badge-success">success</span>
                    </div>
                    <!-- <a href="javascript:void(0)" class="btn btn-success mt-4">Learn more</a> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                      <i class="ni ni-spaceship"></i>
                    </div>
                    <h6 class="text-warning text-uppercase">Web Hosting</h6>
                    <p class="description mt-3">Web hosting services allows users to store content offsite,
                      reducing local storage costs and the associated physical footprint.
                      It also makes it easier to build a genuinely durable web presence,
                      with built-in advantages like back-ups for security and support.</p>
                    <div>
                      <span class="badge badge-pill badge-warning">marketing</span>
                      <span class="badge badge-pill badge-warning">product</span>
                      <span class="badge badge-pill badge-warning">launch</span>
                    </div>
                    <!-- <a href="javascript:void(0)" class="btn btn-warning mt-4">Learn more</a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-lg section-hero section-shaped">
      <div class="container">
        <div class="row row-grid justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="display-3">We work on this
              <span class="text-success">Technology</span>
            </h2>
            <!-- <p class="lead">We use </p> -->
            <div class="text-center">
              <!-- <h4 class="display-4 mb-5 mt-5">Available on these technologies</h4> --><br>
              <div class="row justify-content-center">
                <div class="col-lg-2 col-4">
                  <a href="https://angular.io/guide/what-is-angular" target="_blank" placement="top" ngbTooltip="Angular - One framework. Mobile &amp; desktop">
                    <img src="./assets/img/icons/Angular.png" class="img-fluid" style="height: 70px; width: 70px;">
                  </a>
                </div>
                <div class="col-lg-2 col-4">
                  <a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank" placement="top" ngbTooltip="Bootstrap - Most popular front-end component library">
                    <img src="./assets/img/icons/Bootstrap.png" class="img-fluid" style="height: 70px; width: 105px;">
                  </a>
                </div>
                <div class="col-lg-2 col-4">
                  <a href="https://nodejs.org/en/learn/getting-started/introduction-to-nodejs" target="_blank" placement="top" ngbTooltip="Node.js is an open-source,cross-platform JavaScript runtime environment">
                    <img src="./assets/img/icons/NodeJS.png" class="img-fluid" style="height: 70px; width: 105px;">
                  </a>
                </div>
               
                <div class="col-lg-2 col-4">
                  <a href="https://dotnet.microsoft.com/en-us/learn/dotnet/what-is-dotnet" target="_blank" placement="top" ngbTooltip="NET is a software development framework">
                    <img src="./assets/img/icons/NET.png" class="img-fluid" style="height: 60px; width: 90px;">
                  </a>
                </div>
                <div class="col-lg-2 col-4">
                  <a href="https://www.microsoft.com/en-in/sql-server/sql-server-downloads" target="_blank" placement="top" ngbTooltip="SQL Server is a relational database management system developed by Microsoft.">
                    <img src="./assets/img/icons/sql-server.jpg" class="img-fluid" style="height: 60px; width: 60px;">
                  </a>
                </div>
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-sections></app-sections>
 
</main>
