<footer class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  
  <div class="footer">
    <div class="container">     
        <div class="row">                       
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="single_footer">
                    <!-- <h4>Dreamwings Solution</h4> -->
                    <a href="https://dreamwingssolutions.com/" >
                      <img src="./assets/img/brand/Dream wings.png" style="height: 80px; width: 80px;">
                    </a><br>&nbsp;
                    <p>We are working on a cost-effective<br> solution for small and medium-sized businesses. With our precious customers, we plan to restructure their IT infrastructure and build their presence in the digital world.</p>
                    
                </div>
            </div><!--- END COL --> 
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single_footer single_footer_address">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="" [routerLink]="['/home']">Home</a></li>
                        <li><a href="#" [routerLink]="['/aboutus']">About Us</a></li>
                        <li><a href="#" [routerLink]="['/services']">Services </a></li>
                        <li><a href="#" [routerLink]="['/contact']">Contact</a></li>
                        <li><a href="#" [routerLink]="['/product']">Products</a></li>
                    </ul>
                </div>
            </div><!--- END COL -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single_footer single_footer_address">
                    <h4>Office</h4>
                    <div>
                      <ul>
                        <li><i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;C S No 1422,Lane no 11, Jaysingpur,</li>
                          <li><i class=""></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kolhapur,Maharashtra,</li>
                          <li><i class=""></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pincode 416101</li><br>
                          
                          <li><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dreamwingssolutions@gmail.com</li>
                          <li><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9893849090</li>
                          
                          
                      </ul>
                    </div>
                </div>
                <div class="social_profile">
                    <ul>
                      <!-- <li><a href="https://www.facebook.com/mscardshopee/" style="background-color: #fafafa;" target="_blank"><i class="fa fa-instagram" style="color: fuchsia;"></i></a></li> -->
                        <li><a href="https://www.facebook.com/dreamwings9" style="background-color: #fafafa;" target="_blank"><i class="fa fa-facebook" style="color: blue;"></i></a></li>
                        <li><a href="https://www.youtube.com/@DreamwingsMedia" style="background-color: #fafafa;" target="_blank"><i class="fa fa-youtube" style="color: red;"></i></a></li>
                        
                        
                    </ul>
                </div>                          
            </div><!--- END COL -->         
        </div><!--- END ROW --> 
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <p class="copyright">Copyright © 2024 <a href="https://dreamwingssolutions.com/">Dreamwings Solutions</a>.</p>
            </div><!--- END COL -->                 
        </div><!--- END ROW -->                 
    </div><!--- END CONTAINER -->
</div>
  
  
</footer>