<section class="section section-lg">
  <div class="container">
    <div class="row row-grid justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="display-3">We work on
          <span class="text-success">Technologies</span>
        </h2>
        <p class="lead">We are working on a cost-effective solution for small and medium-sized businesses. With our precious customers, we plan to restructure their IT infrastructure and build their presence in the digital world. We understand their IT development, automation, and IT infrastructure problems and work with them to create an ecosystem for their business needs.</p>
        <div class="btn-wrapper">
          <!-- <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" class="btn btn-primary mb-3 mb-sm-0">Download Angular</a> -->
        </div>
        <div class="text-center">
          <h4 class="display-4 mb-5 mt-5">Available on these technologies</h4>
          <div class="row justify-content-center">
            <div class="col-lg-2 col-4">
              <a href=""  placement="top" ngbTooltip="Angular - One framework. Mobile &amp; desktop">
                <img src="./assets/img/icons/Angular.png" style="height: 70px; width: 70px;">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a href="" placement="top" ngbTooltip="Bootstrap 4 - Most popular front-end component library">
                <img src="./assets/img/icons/Bootstrap.png" style="height: 70px; width: 100px;">
              </a>
            </div>
            
            <div class="col-lg-2 col-4">
              <a href=""  placement="top" ngbTooltip="Microsoft SQL Server is a proprietary RDBMS developed by Microsoft. ">
                <img src="./assets/img/icons/sql-server.jpg" style="height: 65px; width: 65px;">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a href=""  placement="top" ngbTooltip="NET is a free, cross-platform, open-source developer platform.">
                <img src="./assets/img/icons/NET.png" style="height: 65px; width: 95px;">
              </a>
            </div>
            <!-- <div class="col-lg-2 col-4">
              <a href="https://www.adobe.com/products/photoshop.html?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] Adobe Photoshop - Software for digital images manipulation">
                <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/ps.jpg" class="img-fluid opacity-3">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a href="https://reactjs.org/?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] React - A JavaScript library for building user interfaces">
                <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/react.jpg" class="img-fluid opacity-3">
              </a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>